.login-page {
    width: 450px;
    padding: 10% 0 0;
    margin: auto;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 500px;
    margin: 0px;
    padding: 45px;
    text-align: left;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}
body{
    background-image: url("../Children.jpg"), url(../Children.jpg);
    background-repeat: repeat-x;
    background-position: bottom left, top left;
}
h3{
    text-align: center;
    margin: 0px;
    padding: 0px;
}
td, th{
    padding-right: 10px;
}
#last{
    padding-right: 0px;
}