<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeaLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..static/css/body.css" th:href="@{css/body.css}">
    <link rel="stylesheet" href="..static/css/form.css" th:href="@{css/formAfterRegistration.css}">


</head>

<body>
<div class="login-page">
    <div class="form">
        <form class="login-form" >
            <button type="submit" th:formaction="@{/createChild}">Создать профиль ребенка</button>
            <br>
            <br>
            <button>Редактировать информацию о себе</button>
        </form>
    </div>
</div>
</body>

</html>