<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeaLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..static/css/body.css" th:href="@{/css/bodyMenu.css}">
    <link rel="stylesheet" href="..static/css/form.css" th:href="@{/css/form.css}">
    <link rel="stylesheet" href="..static/css/form.css" th:href="@{/css/afterLogIn.css}">


</head>

<body>
<div class="login-page">
    <div class="form">
        <div id="list_child" th:each="child:${child_list}">
            <form class="login-form" id="3"
                  method="GET" th:action="@{/menu/{id}(id = ${child.getId()})}">
                <button form="3" th:formaction="@{/menu/{id}(id = ${child.getId()})}" th:text="${child.getName()}">
                </button>
                <br><br>
            </form>
        </div>
        <form>
            <button type="submit" th:formaction="@{/createChild}">Создать профиль ребенка</button>
        </form>
        <br>
        <form class="register-form" th:action="@{/logout}" th:method="post">
            <button id="lastButton" type="submit" th:formaction="@{/logout}">Выход</button>
        </form>
    </div>
</div>
</body>

</html>