<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeaLeaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="..static/css/body.css" th:href="@{css/body.css}">
  <link rel="stylesheet" href="..static/css/form.css" th:href="@{css/form.css}">
  <link rel="stylesheet" href="..static/css/form.css" th:href="@{css/afterLogIn.css}">


</head>

<body>
<!--<div class="login-page">-->
<!--  <div class="form">-->
<!--    <form class="login-form" method="post"  th:action="@{/menu/(id=${child.getId()})}">-->
<!--      <div id="list_child" th:each="child:${child_list}">-->
<!--        <button type="submit"  th:text="${child.getName()}" th:value="${child.getId}">-->
<!--        </button> <br><br>-->
<!--      </div>-->
<!--      &lt;!&ndash;            <button type="submit" th:formaction="@{/createChild}">Создать профиль ребенка</button>&ndash;&gt;-->
<!--      &lt;!&ndash;            <button>Редактировать информацию о себе</button>&ndash;&gt;-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->

  <div class="login-page">
    <div class="form">
      <label th:each="child:${child_list}">
        <br>
        <form class="login-form"  method="post" th:action="@{/menu/(id=${child.getId()})}">
          <button type="submit" th:value="${child.getId}"
                  th:text="${child.getName()}"></button>
        </form>
      </label>
      <form>
        <button class="login-form"type="submit" th:formaction="@{/createChild}">Создать профиль ребенка</button>
      </form>

    </div>
  </div>


<!--<label th:each="child:${child_list}">-->
<!--  <br>-->
<!--  <form method="post" th:action="@{/menu/(id=${child.getId()})}">-->
<!--    <button type="submit" th:value="${child.getId}"-->
<!--            th:text="${child.getName()}"></button>-->
<!--  </form>-->
<!--</label>-->

</body>

</html>