<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeaLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="..static/css/body.css" th:href="@{css/body.css}">
    <link rel="stylesheet" href="..static/css/formCreateChild.css" th:href="@{css/formCreateChild.css}">
</head>
<body>
<div class="login-page">
    <div class="form">
        <form  class="register-form" th:method="post"  th:action="@{/createC}" th:object="${child}">
            <select name="gender">
                <option selected>Выберите пол ребенка</option>
                <option value="Мальчик">Мальчик</option>
                <option value="Девочка">Девочка</option>
            </select>
            <input th:field = "*{details.name}" type="text"  placeholder="Имя"/>
            <input th:field = *{details.middleName} type="text"  placeholder="Отчество" />
            <input th:field = *{details.surname} type="text"  placeholder="Фамилия"/>
            <input th:field = "*{details.dateBirth}" type="date"  placeholder="dateBirth" />
            <input th:field = *{details.email} type="text"  placeholder="Электронная почта" />
            <button type="submit">create</button>
            <p class="message">Уже создан профиль ребенка? <a href="/formAfterRegistration" th:href="@{/formAfterRegistration}">Назад</a></p>
        </form>
    </div>
</div>
</body>
</html>


