<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeaLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="..static/css/body.css" th:href="@{css/body.css}">
    <link rel="stylesheet" href="..static/css/form.css" th:href="@{css/form.css}">
</head>
<body>
<div class="login-page">
    <div class="form">
        <form  class="register-form" th:method="post"  th:action="@{/createC}" th:object="${child}">
<!--                        <input th:field = *{gender} type="radio"  value="Мальчик"/>-->
<!--                        <input th:field = *{gender} type="radio"  value="Девочка"/>-->

            <div id="gender" >
                <select name="gender">
                    <option selected>Выберите пол ребенка</option>
                    <option value="Мальчик">Мальчик</option>
                    <option value="Девочка">Девочка</option>
                </select>

            </div>

            <input  th:field = "*{gender}" type="text"  placeholder="Name"/>
            <!--            <input th:field = *{details.middleName} type="text"  placeholder="MiddleName" />-->
<!--            <input th:field = *{details.surname} type="text"  placeholder="Surname" id="surname"/>-->

           <div>
               <label for="bday">Дата рождения:</label>
               <input id="bday" th:field = "*{details.dateBirth}" type="date" value="my" placeholder="dateBirth" />
           </div>


            <!--            <input th:field = *{details.email} type="text"  placeholder="Email address" />-->
            <button type="submit">create</button>
            <p class="message">Уже создан профиль ребенка? <a href="/formAfterRegistration" th:href="@{/formAfterRegistration}">Назад</a></p>
        </form>
    </div>
</div>
</body>
</html>


