<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeaLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="..static/css/body.css" th:href="@{css/body.css}">
    <link rel="stylesheet" href="..static/css/formCreateChild.css" th:href="@{css/formCreateChild.css}">
</head>
<body>
<div class="login-page">
    <div class="form">
        <form  class="register-form" th:method="post"  th:action="@{/createEvent}" th:object="${eventDto}">
            <input th:field = "*{name}" type="text"  placeholder="Название"/>
            <p>Дата:</p><input type="date" th:field = "*{dateBirth}">
<!--            <input th:field = "*{descriptionOfEvent}" type="text"  placeholder="Описание" />-->
            <textarea th:field = "*{descriptionOfEvent}" type="text" name="description" placeholder="Описание" >
            </textarea>

            <!--            <div>-->
            <!--                <label for="bday">Дата рождения:</label>-->
            <!--                <input id="bday" th:field = "*{dateBirth}" type="date" name="selectdate" placeholder="dateBirth" />-->
            <!--            </div>-->
            <button type="submit">Создать</button>
        </form>
    </div>
</div>
</body>
</html>
