<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeaLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..static/css/body.css" th:href="@{css/body.css}">
    <link rel="stylesheet" href="..static/css/form.css" th:href="@{css/form.css}">


</head>

<body>
<div class="login-page">
    <div class="form">
        <form class="login-form" >
            <input type="text" placeholder="Email" />
            <input type="password" placeholder="Password" >
            <button>login</button>
            <p class="message">Not registered? <a href="/registration" th:href="@{/registration}">Create an account</a></p>

        </form>
    </div>
</div>
</body>

</html>