<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeaLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..static/css/body.css" th:href="@{css/body.css}">
    <link rel="stylesheet" href="..static/css/form.css" th:href="@{css/form.css}">


</head>

<body>
<h1>Family Archive</h1>
<div class="login-page">
    <div class="form">
        <form class="login-form" method="post" action="/process_login">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="text" name="username" placeholder="Email" />
            <input type="password" name="password" placeholder="Password" >
            <button>login</button>
            <p class="message">Not registered? <a href="/registration" th:href="@{/registration}">Create an account</a></p>
            <div th:if="${param.error}" style="color: red">
                Неправильные имя или пароль
            </div>

        </form>
    </div>
</div>
</body>

</html>