<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://thymeaLeaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..static/css/body.css" th:href="@{css/body.css}">
    <link rel="stylesheet" href="..static/css/form.css" th:href="@{css/form.css}">

</head>

<body>
<h1>Family Archive</h1>
<div class="login-page">
    <div class="form">
        <form  class="register-form" th:method="post"  th:action="@{/registration}" th:object="${person}">
            <input th:field = *{name} type="text"  placeholder="Name" id="name" />
            <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"> Username Error
            </div>
            <input th:field = *{surname} type="text"  placeholder="Surname" id="surname"/>
            <div style="color:red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"> Surname Error
            </div>
            <input th:field = *{password} type="password"  placeholder="Password" id="password"/>
            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"> Password Error
            </div>
            <input th:field = *{email} type="text"  placeholder="Email address" id="username"/>
            <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"> Email Error
            </div>
            <button type="submit">create</button>
            <p class="message">Already registered? <a href="/index" th:href="@{/index}">Sign In</a></p>
        </form>
    </div>
</div>
</body>

</html>